#divHistory{
    margin: auto;
    max-width: 60%;
    font-family: "Georgia", serif;
}

p {
    background-color: #c8936a;
    border: #000;
    border-style: solid;
    border-radius: 5px;
}

h2 {
    background-color: #c8936a;
    border: #000;
    border-style: solid;
    border-radius: 5px;
    display: inline;
}