table {
    margin:auto;
    max-width:50%;
    background-color:#c8938a;
    border-color:#000;
    border-style: solid;
    border-radius: 5px;
}

table img {
    border: #000;
    border-style: solid;
    border-radius: 50%
}

table img:hover{
    border:#ffff00;
    border-style: solid;
    border-radius: 50%;
}

#howToBuy {
    margin: auto;
    max-width: 415px;
    background-color: #c8936a;
    border: #000 solid 3px;
}