table {
    margin:auto;
    max-width:50%;
    background-color:#808080;
    border-style: solid;
    border-radius: 5px;
}

img {
    border: #000;
    border-style: solid;
    border-radius: 50%
}

#howToBuy {
    margin: auto;
    max-width: 415px;
    background-color: #c8936a;
    border: #000 solid 3px;
}