.welcome {
    margin: auto;
    max-width: 40%;
    font-family: "Georgia", serif;
}

#cart {
    position: absolute;
    top: 0px;
    right: 0px;
    background: #c8936a;
    border: #000;
    border-style: solid;
    border-radius: 5px;
}

.topBar {
    margin:auto;
    max-width: 25%;
    padding-top: 30px;
}

#blackTeaImage, #greenTeaImage, #herbalTeaImage, #whiteTeaImage {
    height: 80px;
    width: 80px;
    border: #000;
    background: #c8936a;
    border-style: solid;
    border-radius: 5px;
}

p #padder{
    padding-bottom: 10px;
}

.teaRedirect {
    background: #c8936a;
    border-style: solid;
    border-radius: 5px;
    padding-right: 15px;
}

body {
    background-image:url('./images/mainBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    background-color: #c8936a;
    border: #000;
    border-style: solid;
    border-radius: 5px;
    display: inline;
}