.welcome {
    margin: auto;
    max-width: 27%;
}

.topBar {
    margin:auto;
    max-width: 25%;
}

#blackTeaImage, #greenTeaImage, #herbalTeaImage, #whiteTeaImage {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#divHistory{
    margin: auto;
    max-width: 60%;
    font-family: "Lucida Handwriting", Cursive;
}

body {
    background-image:url('https://pixabay.com/get/g9e0bb1d007f2b124dec4eb4b6e629978b58494e0f2da9c488269b3e90c3c98dc6d3f16ccc5f4311dc30669b3f52366c0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    background-color: #a52a2a;
    border: black;
    border-style: solid;
    border-radius: 5px;
}

h1, h2 {
    background-color: #a52a2a;
    border: #000;
    border-style: solid;
    border-radius: 5px;
    display: inline;
}